

<h1> Edit Form ID</h1>
<input type="text">

<!-- 
<form [formGroup]="ticketForm">
    <input type="hidden" formControlName="id">
    <div class="form-group">
      <label for="firstname">Vorfall Nr. </label>
      <input type="text" class="form-control" placeholder="Vorfall Nr" formControlName="vorfall_nr">
    </div>

    <div class="form-group">
      <label for="surname"> Beschwerdegrund Name</label>
      <input type="text" class="form-control"placeholder="Beschwerdegrund Name" formControlName="beschwerdegrund_name">
    </div>
   
</form> -->