
<main-view></main-view>


<!--
<h3>#### Liste 1 ####</h3>
<test-view01
  [SectionIsVisible_ViewTitle] = "true"
></test-view01>

<hr>

<p><b>#### Liste 2 ####</b></p>
<test-view01
  [SectionIsVisible_ViewTitle] = "false"
></test-view01>

<hr>
-->


<!------------------------------------------------------------------------------
  Test 01: BOOTSTRAP
------------------------------------------------------------------------------->

<!-- Jumbotron (Hero) -->
<!-- 
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ appTitle }}</h1>
    <p class="lead">{{ appDescriptionShort }}</p>
  </div>
</div>
 -->

 <!-- Cards: Login Group -->
<!--
<div class="card-deck">
  <div class="card text-center" style="width: 18rem;">
    <img src="../assets/img/Business-24px.svg" class="card-img-top" alt="Schulen">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Verwaltungszugang für Schulen</p>
      <a href="#" class="btn btn-primary">Login</a>
    </div>
  </div>
  <div class="card text-center" style="width: 18rem;">
    <img src="../assets/img/Icon_School.svg" class="card-img-top" alt="Eltern & Schüler">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Verwaltungszugang für Eltern & Schüler</p>
      <a href="#" class="btn btn-primary">Login</a>
    </div>
  </div>
</div>
 -->

<!-- 
<div class="card text-center" style="width: 18rem;">
  <img src="../assets/img/Business-24px.svg" class="card-img-top" alt="Schulen">
  <div class="card-body">
    <h1 class="card-title">Schulen</h1>
    <p class="card-text">Verwaltungszugang für Schulen</p>
    <a href="#" class="btn btn-primary">Login</a>
  </div>
</div>

<div class="card text-center" style="width: 18rem;">
  <img src="../assets/img/Icon_School.svg" class="card-img-top" alt="Eltern & Schüler">
  <div class="card-body">
    <h1 class="card-title">Eltern & Schüler</h1>
    <p class="card-text">Verwaltungszugang für Eltern & Schüler</p>
    <a href="#" class="btn btn-primary">Login</a>
  </div>
</div>
 -->


<!------------------------------------------------------------------------------
  Test 02: BULMA
------------------------------------------------------------------------------->

<!--
<section class="hero is-primary is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{ appTitle }}</h1>
      <h2 class="subtitle">{{ appDescriptionShort }}</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">


    <div class="columns pd">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <img src="../assets/img/Business-24px.svg" class="card-img-top" alt="Schulen">
            <h1 class="title">Schulen</h1>
            <p class="subtitle">Verwaltungszugang für Schulen</p>
            <a href="#" class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <img src="../assets/img/Icon_School.svg" class="card-img-top" alt="Eltern & Schüler">
            <h1 class="title">Eltern & Schüler</h1>
            <p class="subtitle">Verwaltungszugang für Eltern & Schüler</p>
            <a href="#" class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
 -->


