
<h1>{{appTitle}}</h1>
<h2>{{appDescriptionShort}}</h2>



<!--
<button type="button" class="btn btn-primary" (click)="doOnClickNavTickets()">Tickets</button>
<button type="button" class="btn btn-primary" (click)="doOnClickNavNotes()">Notizen</button>
<button type="button" class="btn btn-primary" (click)="doOnClickNavLog()">Log</button>

<hr>
-->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="nav nav-pills">

      <li class="navbar-text"><b>Hauptnavigation:</b></li>

      <li class="nav-item">
        <a class="nav-link" (click)="doOnClickNavTickets()">Tickets</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="doOnClickNavNotes()">Notizen</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="doOnClickNavLog()">Log</a>
      </li>

    </ul>

  </div>
</nav> -->

<!-- <h3> Hauptnavigation V2</h3>
<br>

<hr> -->


<menu-list
  [menuItems]    = "compList"
  (onMenuChoice) = "menuTabTemplate($event)">
</menu-list>

<my-tabs>    
 
</my-tabs>

<!-- <ng-template #MainTemplate>
  <app-ticket-view-ticket-list></app-ticket-view-ticket-list>
</ng-template> -->

<ng-template  #ticketview>
  
  <button class="btn btn-warning" (click)="onOpenEdit()"> Neuer Antrag</button>

  <br>
  <app-ticket-view-ticket-list></app-ticket-view-ticket-list>

 </ng-template>


<ng-template  #ticketNote>
   <app-ticket-view-note-list></app-ticket-view-note-list>
</ng-template>

<ng-template  #ticketLog>
  <app-ticket-view-log-list></app-ticket-view-log-list>
</ng-template> 


<ng-template #ticketEdit>
  <editticketform></editticketform>
</ng-template> 


<!--router-outlet></router-outlet-->

