

<menu-list
  [menuItems]    = "menuItems"
  (onMenuChoice) = "menuTabTemplate($event)">
</menu-list>


<li
    *ngFor="let comp of _activeComponentsService.ActiveComponents"
    style="background-color: aquamarine; margin-left: 5px; border-width: 2px solid black;"
   >
   [ProgFuncID] {{ comp.ProgFuncID }}
   [TabTitle] {{ comp.tabTitle }}
   [TabID] {{ comp.tabID }}

   [Active] {{ comp.active }}
   [Closeable] {{ comp.isCloseable }}
   [PKValue] {{ comp.PKValue }}
  </li>
<hr>

<ul class="nav nav-tabs">
  <!-- dynamic tabs -->

  <li
  *ngFor="let tab of _activeComponentsService.ActiveComponents"
  (click)="selectTab(tab)"
    style="background-color: aquamarine; margin-left: 5px; border-width: 2px solid black;"

   >
    <a  [class.active]="!tab.active" class="nav-link"
      >{{ tab.tabTitle }}
      <span class="tab-close" *ngIf="tab.isCloseable" (click)="closeTab(tab)">
        X
      </span>
      </a
    >
  </li>
</ul>



<ng-template mainPlaceholder></ng-template>