.tabs{
        display:inline-block;
        width:25%;
        height:45px;
        line-height:45px;
        cursor:pointer;
        background:#FFFFFF;
        color:#000000;
        font-size:19px;
        text-align:center;
    }